{% extends 'base.html' %}

{% block title %}Login - Data With Mo{% endblock %}


{% block content %}
<div class="register-back">
  <div class="register-content">
    <h2>Welcome Back</h2>
    <form method="post">
      <div class="info">
        {% csrf_token %}
        {{ form.as_p }}
      </div>
      <br>
      <button type="submit">Log In</button>
    </form>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    <p><a href="{% url 'password_reset1' %}">Forgot Password?</a></p>
  </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}