<!-- templates/registration/password_reset_form2.html -->
{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
  <h1>Your Secret or passwords did not match. Try again.</h1>

  <form action={% url 'password_reset3' %} method="POST">
    {% csrf_token %}
    <label for="uname">Username:</label>
    <input type="text" id="uname" name="username"><br><br>
    <label for="recovery">Mother's maiden name:</label>
    <input type="text" id="recovery" name="secret"><br><br>
    <label for="id_password1">New Password:</label>
    <input type="password" id="id_password1" name="password1"><br><br>
    <label for="id_password2">Re-enter the Password:</label>
    <input type="password" id="id_password2" name="password2"><br><br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
